<% content_for :title do %>Home | The Tanning Emporium<% end %>
<% content_for :description do %>Tanning Emporium Website<% end %>
<div class="row">
  <div class="box">
    <div class="col-lg-12 text-center">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img class="img-responsive img-full" src="/assets/banner-logo.jpg" >
                </div>
                <div class="item">
                  <img class="img-responsive img-full" src="/assets/banner-sky.jpg" >
                </div>
                <div class="item">
                  <img class="img-responsive img-full" src="/assets/banner-bed.jpg" >
                </div>
              </div>
            
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
            <h1><small>Welcome To</small><br><span class="brand-name">The Tanning Emporium</span><hr class="tagline-divider"><small><strong></strong></small></h1>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Come get a tan <strong>worth showing off.</strong></h2>
            <hr>
            <img class="img-responsive img-border img-left" src="/assets/TanningBed.jpg">
            <hr class="visible-xs">
            <p>Here at The Tanning Emporium our goal is simple; provide our customers with a luxurious experience and a standard of service excellence. We understand the tanning business and the characteristics of a fulfilling, relaxing suntan. Getting a tan is about more than the darkening of skin, but also the brief, important moment of serenity in which you can enjoy the therapeutic nature of our services. We guarantee that our customer's will feel rejuvenated and have the best looking skin around.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Be the first to know about <strong>Fantastic Deals and Customer Rewards!</strong></h2>
            <hr>
            <img class="img-responsive img-border img-left" src="/assets/home-wall.jpg">
            <hr class="visible-xs">
            <p>It's time to get informed! Signing up for our newsletter will open the door to  exclusive package offerings, weekly & monthly deals, and preferred customer rewards. It will also help build sustainable relationships that will benefit both parties in the present and future. This environment will give us the ability to implement new services with your wishes and satisfaction in mind, as well as the opportunity to improve those already in place!</p>
          </div>
        </div>
      </div>
<section>
  <div class="column">
    <h2>Stay in touch.</h2>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= f.button :submit, "Sign Up Today", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
<br>
<br>
    <script>
         // Activates the Carousel
         $('.carousel').carousel({
                interval: 2000
         })
    </script>