<% content_for :title do %>About | The Tanning Emporium<% end %>
<h3></h3>
<div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About <strong>The Tanning Emporium</strong></h2>
            <hr>
          </div>
          <div class="col-md-6">
            <img class="img-responsive img-border-left" src="/assets/about-girls.jpg">
          </div>
          <div class="col-md-6">
            <p>With over thirty years of experience in the tanning industry, no one understands your needs and expectations better than us.<p>
            <p>Our knowledge has given us the tools necessary to satisfy you, the customer, by providing the most essential assets of a luxurious tan.</p>
            <hr>
            <h5><em><strong>Cutting Edge Tanning Beds:</em></strong></h5>
            <p>We offer an array of light intensities and options via our 15 bed selection. In addition, we have a state-of-the-art <strong>sunless </strong>spray tanning booth from VersaSpa&copy;; the current leaders in their field.</p>
            <h5><em><strong>We Carry Top Brand Lotions:</em></strong></h5>
            <p>The extensive collection of tanning lotions and skin products available are the perfect compliment. If your preferred product isn't in store, we'd be happy to obtain it for you; just ask one of our team members!</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Products & <strong>Partners</strong></h2>
            <hr>
          </div>
          <div class="col-sm-4 text-center">
              <img class="img-responsive img-border" src="/assets/about-logos.jpg">
              <h3><small></small></h3>
          </div>
          <div class="col-sm-4 text-center">
              <img class="img-responsive img-border" src="/assets/about-lotions2.jpg">
              <h3><small></small></h3>
          </div>
          <div class="col-sm-4 text-center">
              <img class="img-responsive" src="/assets/about-versaspa.jpg">
              <h3><small></small></h3>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    <br>
    <br>