<% content_for :title do %>Contact | The Tanning Emporium<% end %>
<div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">Contact <strong>The Emporium</strong></h2>
            <hr>
          </div>
          <div class="col-md-8">
            <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
            <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;hl=en&amp;oe=UTF8&amp;msa=0&amp;msid=206583218757632647289.0004efcc14cb891737492&amp;t=m&amp;ll=40.599641,-79.946383&amp;spn=0.00391,0.006866&amp;z=17&amp;output=embed"></iframe>
          </div>
          <div class="col-md-4">
            <p>Phone: <strong>724.444.8090</strong></p>
            <p>Hours: <br>Mon-Thurs: <strong>10am-9pm</strong><br>
                      Fri-Sat: <strong>10am-7pm</strong>
                      <br>Sun: <strong>10am-4pm</strong></p>
            <p>Email: <br> <strong>info@thetanningemporium.com</strong></p>
            <p>Address: <strong>Landmark Plaza<br>4848 William Flynn Hwy<br>Allison Park, PA 15101</strong></p>
          <hr>
            <div class="col-md-5" "image-border" "image-left">
              <a href="http://www.facebook.com/tanningemporium" target="_blank">
              <img src="http://static.viewbook.com/images/social_icons/facebook_32.png"></a>
              <div class="text-center"><h6>Like Us on <strong>Facebook</strong></h6></div>
            </div>
            <div class="col-md-5" "image-border" "image-left">
              <a href="http://www.twitter.com/tanningemporium" target="_blank">
              <img src="http://static.viewbook.com/images/social_icons/twitter_32.png"/></a>
              <div class="text-center"><h6>Follow Us on <strong>Twitter</strong></h6></div>
            </div>
              <h6 class="text-left"><em><strong>Exclusive Social Media Coupons!!</strong></em></h6>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

      <div class="row">
        <div class="box">
          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">News<strong>letter</strong></h2>
            <hr>
            <p class="text-center">Sign up for our newsletter and we'll make it worth your while. Get weekly and monthly coupons, info on upcoming events, and preferred customer rewards! It only takes a few seconds.</p>
          </div>
        </div>
      </div>

<section>
  <div class="column">
    <h2>Stay in touch.</h2>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @contact do |form| %>
        <%= form.error_notification %>
        <%= form.input :email, label: false, :placeholder => 'Your email address...' %>
        <br/>
        <%= form.button :submit, "Sign Up Today", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>
<br>
<br>