<%# add navigation links to this file %>
<!-- Collect the nav links, forms, and other content for toggling -->
<li><%= link_to 'Home', new_visitor_path %></li>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Contact', new_contact_path %></li>
<!-- <li><%= link_to 'Blog', page_path('blog') %></li> -->