<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Tanapp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Tanapp" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
     <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/business-casual.css" rel="stylesheet">
  </head>
  <body>
    <div class="brand">The Tanning Emporium</div>
    <div class="address-bar">Landmark Plaza | 4848 William Flynn Hwy | Allison Park, Pennsylvania 15101 | 724-444-8090</div>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
        <div class="container">
          <%= yield %>
        </div>
    <footer>
      <div class="container">
        <div class="row">
          <p class="text-center"><em>We are a licensed nail salon looking for a nail technician, apply within.</em><br>The Tanning Emporium&copy;</p>
        </div>
      </div>
    </footer>
    </main>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
